name: Publish

on:
  push:
    branches:
      - master
    paths:
      - 'assets/application.json'
      - 'ecomplus-market.json'
      - 'hosting/description.md'
      - 'hosting/icon.png'
      - 'scripts/_constants.js'
      - 'scripts/market-publication.js'
      - '.github/workflows/publish.yml'

jobs:
  pulish:
    name: Publish app to E-Com Plus Market
    runs-on: ubuntu-latest
    if: github.repository != 'ecomplus/application-starter'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org/'

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install root dependencies
        run: npm ci --only=production --ignore-scripts

      - name: Run publish script
        env:
          FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
          MARKET_TOKEN: ${{ secrets.MARKET_TOKEN }}
        run: "npm run publish:market"
